{% extends "base.html" %}
{% block content %}
<h2>Your Cart</h2>
<div class="row">
    {% for item in cart_items %}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="{{ item.item.image_url }}" alt="Item Image">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item.name }}</h5>
                    <p class="card-text">Quantity: {{ item.quantity }}</p>
                    <p class="card-text">Total: KSh {{ item.total_price }}</p>
                    <form method="POST" action="{{ url_for('main.remove_from_cart', item_id=item.item._id) }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<br>

<p><strong>Total Cart Value: KSh {{ total_cart_value }}</strong></p>

<form method="POST" action="{{ url_for('main.checkout') }}">
    <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
</form>

<a href="{{ url_for('main.inventory_management') }}" class="btn btn-warning">Back to Inventory</a>
{% endblock %}